<a href="https://colab.research.google.com/github/HemaKavuri/DATA-690-FALL-STATISTICAL-ANAYLSIS-VISUALIZATION/blob/main/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Libraries

In [1]:
import random
import numpy as np

Write a program that generates 100 random integers between 0 and 9.

1. Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):


          5 1 5 6 2 7 8 6 4 2
          2 3 7 0 6 9 2 4 2 8 
          0 0 8 6 4 1 7 2 7 6 
          0 1 9 0 0 8 5 8 6 8 
          4 1 0 5 5 7 4 6 4 4 
          6 0 2 0 1 9 8 2 3 9 
          4 0 4 8 1 7 6 6 2 1 
          1 7 6 8 5 4 1 9 6 7 
          6 4 7 9 9 3 8 2 6 1 
          9 0 6 4 0 1 0 6 9 9

**Code**

In [2]:
array = np.random.randint(10, size=(10, 10))
for i in range(len(array)):
  for j in range(10):
    print(array[i][j], end = "  ")
  print("\n")

8  7  2  0  7  1  9  8  4  8

0  1  0  6  8  5  7  4  3  1

6  2  7  8  1  6  7  5  8  8

1  5  4  2  9  6  6  4  1  7

2  0  1  3  3  1  8  2  0  8

4  1  9  2  0  2  8  2  3  5

5  8  0  1  0  9  2  2  5  6

0  3  2  7  4  9  4  1  1  1

5  5  6  9  2  7  2  5  7  7

0  9  3  7  9  4  9  7  6  1

2. If the random number is an odd number, print "@" instead. like the following:

       @ @ 0 2 6 @ 8 8 0 0 
       @ 4 @ 4 4 @ 2 @ 2 2 
       @ 6 8 @ @ @ 0 @ 0 @ 
       2 6 @ 0 @ 2 @ @ 0 @ 
       8 4 @ @ @ 0 @ @ 6 @ 
       @ @ 4 6 @ @ @ 2 @ 2 
       @ @ @ @ 4 @ @ 2 2 0 
       @ 6 @ 0 0 8 @ 2 0 @ 
       8 8 @ @ @ 0 0 @ 4 6 
       @ 2 2 6 8 2 @ @ @ 6

**Code**

In [3]:
array = np.random.randint(10, size=(10, 10))
for i in range(len(array)):
  for j in range(10):
    if((array[i][j] %2)!=0):
       print('@',end="  ")
    else:
      print(array[i][j], end = "  ")
  print("\n")

@  8  2  @  0  4  @  8  4  0

4  @  @  2  @  8  8  8  0  @

6  @  0  @  @  8  6  6  @  @

@  6  @  4  6  6  2  @  @  4

@  @  @  @  8  @  2  @  @  8

2  @  6  @  @  @  @  @  @  @

@  @  @  4  @  2  @  @  @  @

@  0  @  @  6  @  @  @  2  0

0  @  @  @  0  6  8  @  4  8

@  @  2  6  8  @  4  6  6  2

Question 3

3. Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

       7 6 5 8 8 0 7 6 0 1 * 48 
       8 5 7 9 8 0 9 3 0 1 * 50 
       4 0 3 5 3 9 0 8 3 9 * 44 
       3 5 5 3 8 3 4 3 2 2 * 38 
       7 7 4 1 2 7 2 3 0 8 * 41 
       3 9 7 7 0 9 4 0 6 5 * 50 
       1 9 7 1 3 0 0 1 4 5 * 31 
       4 4 0 6 7 4 5 6 9 3 * 48 
       2 1 1 4 2 0 1 2 9 2 * 24
       2 1 6 7 7 8 1 0 0 4 * 36

**Code**

In [4]:
array = np.random.randint(10, size=(10, 10))
sum=0
for i in range(len(array)):
  for j in range(10):
    print(array[i][j], end = "  ")
    sum=sum+array[i][j]
  print('*'," ",sum)
  print("\n")

8  2  6  7  3  0  9  9  3  6  *   53


7  4  4  4  8  7  6  9  2  4  *   108


4  0  0  9  4  1  7  1  4  2  *   140


4  4  5  8  5  3  0  9  3  0  *   181


1  0  1  6  9  5  6  9  6  6  *   230


2  8  5  0  0  0  8  5  2  1  *   261


7  6  3  5  7  0  9  9  6  2  *   315


7  0  7  4  0  4  2  8  8  7  *   362


0  8  0  5  1  8  9  7  7  2  *   409


4  0  2  6  2  5  1  8  8  1  *   446

Question 4

 4. Surround the matrix with asterisks (*) like the following:
     
        ***********************
        * 5 1 5 6 2 7 8 6 4 2 *
        * 2 3 7 0 6 9 2 4 2 8 *
        * 0 0 8 6 4 1 7 2 7 6 *
        * 0 1 9 0 0 8 5 8 6 8 *
        * 4 1 0 5 5 7 4 6 4 4 *
        * 6 0 2 0 1 9 8 2 3 9 *
        * 4 0 4 8 1 7 6 6 2 1 *
        * 1 7 6 8 5 4 1 9 6 7 *
        * 6 4 7 9 9 3 8 2 6 1 *
        * 9 0 6 4 0 1 0 6 9 9 *
        ***********************

**Code**

In [5]:
array = np.random.randint(10, size=(10, 10))
print('***********************************')
for i in range(len(array)):
   for j in range(10):
     if(j==0):
       print('*'," ",array[i][j], end = "  ")
     else:
       print(array[i][j], end = "  ")
   print("*")
   print("\n")
print('***********************************')

***********************************
*   5  7  6  9  2  6  4  5  6  1  *


*   0  2  7  4  3  4  2  2  5  9  *


*   9  4  5  5  6  4  8  1  6  2  *


*   7  2  7  6  1  4  1  8  9  0  *


*   7  9  2  4  7  3  5  5  3  4  *


*   5  5  5  5  9  5  6  5  9  4  *


*   2  5  9  5  2  3  9  9  9  8  *


*   2  5  3  6  7  9  1  0  6  0  *


*   0  2  2  6  9  8  2  5  0  5  *


*   0  1  9  7  9  1  0  2  3  7  *


***********************************

Question 5

5. Calculate and Print the total of each row and column like the following:

       6  8  0  2  3  4  2  2  4  4  * 35 
       3  7  5  8  9  7  4  8  6  0  * 57 
       4  7  7  4  3  8  2  1  7  0  * 43 
       7  8  1  3  0  8  4  7  9  2  * 49 
       0  0  2  4  5  6  6  7  1  4  * 35 
       3  7  0  0  7  3  3  2  1  6  * 32 
       2  5  6  6  5  6  5  5  4  7  * 51 
       9  2  7  5  5  9  2  4  7  9  * 59 
       0  0  4  7  6  3  9  6  6  7  * 48 
       0  1  6  5  2  7  4  1  6  4  * 36 
       *  *  *  *  *  *  *  *  *  *  
       34 45 38 44 45 61 41 43 51 43

**Code**

In [7]:
array = np.random.randint(10, size=(10, 10))
sum=0
total=0
column=[0,0,0,0,0,0,0,0,0,0]
for i in range(len(array)):
  for j in range(10):
    column[j]+=array[i][j]
    print(array[i][j], end = "  ")
    sum=sum+array[i][j]
  print('*'," ",sum)
  print("\n")
for i in range(len(column)):
  print('*',end="  ")
print('\n')
for i in range(len(column)):
  print(column[i],end=" ")

0  7  9  2  6  0  4  5  7  9  *   49


4  7  7  1  0  4  1  5  0  5  *   83


3  5  8  0  9  9  2  5  4  1  *   129


2  9  7  0  8  5  1  6  9  9  *   185


9  2  9  1  4  8  9  8  2  5  *   242


8  2  5  2  6  9  1  5  4  9  *   293


8  4  8  6  7  8  8  9  9  5  *   365


1  8  0  5  2  7  9  7  5  0  *   409


0  0  0  2  2  4  8  4  9  1  *   439


6  7  7  6  9  8  9  8  8  0  *   507


*  *  *  *  *  *  *  *  *  *

41 51 60 25 53 62 52 62 57 44